
h1{
    text-align: center;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-style: normal;
    color: darkgreen;
    
}

h2{
    text-align: center;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #cde8b5;
    color:darkgreen;
}


h3{
    text-align: center;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    color:darkgreen;

}
/* lighter colour: #FAFDF3*/
body{
    /*background-color: #A3B8C0;*/
    text-align: center;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin:0;
}

.error{
    color: #9A6735;/*a94442 */
    font-size:10px;
    font-style:italic;

}

.container-landing{
    font-family: "Varela Round", serif;
    color:#3e4e27;
    font-size: medium;
    font-weight: 300;
    text-align:center;
    border-radius: 25px;
    border:2px solid transparent;
    padding: 20px;
    width: 45%;
    height: auto;
    margin: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.flex-container-main{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}

.flex-container{
    font-family: "Varela Round", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:2px solid transparent;
    padding: 50px;
    width: 45%;
    height: auto;
    flex-wrap: wrap;
    border-radius:15px;
    background-color: #f7fadb;
    margin-left:5%;
    gap: 20px;
}

.flex-container button{
    font-family: "Varela Round", serif;
    font-size: 16px;
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 15px;
    letter-spacing: 1px;
    background-color: #cde8b5;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

}

/*
.flex-container button.btn-outline-primary:hover {
    border-color:#D1E17D;  /* supposed to be pear coloured but idk*/

.flex-container button a{
    color:black;
    font-family: "Varela Round", serif;
    
}

.container {
    font-family: "Varela Round", serif;
    font-size: medium;
    font-weight: 300;
    text-align:center;
    border-radius: 25px; /*25px 50%*/
    border:2px solid transparent;
    background-color: #f7fadb;
    padding: 20px;
    width: 45%; /*45% 400px*/
    height: auto; /*auto 400px*/
    margin: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid black;
    border-radius:10px;
    padding: 8px;
    width: 200px;
    font-size: 14px;
    text-align: center;
}

input:focus{
    background-color: aliceblue;
}

.btn{
    border-radius: 5px;
    font-family: "Varela Round", serif;
    font-size: small;
    color: black;
}

.btn:hover{
    background-color: lightblue;
    color: azure;
}


.groupID-page {
    width: 45%; /* Adjust width as needed */
    margin: 0; /* Remove centering */
    margin-left: 10%; /* Shift the container 10% from the left edge */
    padding: 20px; /* Add some padding */
    font-family: "Varela Round", serif;
    font-size: medium;
    font-weight: 400;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.gid {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: darkgreen;
    background: linear-gradient(90deg, transparent 35%, #f7fadb 65%);
    background-size: 200% 100%;
    background-position: -100% 0;
    padding: 0.3rem; /* Adjust as needed */
    transition: background-position 1.0s ease-in-out;

}

.gid:hover{
    background-position: 30% 0;
}

.container-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-btn {
    position: relative;
    display: inline-block;
    background-color: #D1E17D; 
    border: none;
    padding: 10px 15px; 
    font-size: 9px;
    color: black;
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    text-align: center;
    overflow: hidden;
}

.home-btn a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #f7fadb;;
    border-radius: 15px;

}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;      
    height: 55px;             
    line-height: 50px;        
    font-size: 16px;   
    background-color: transparent; 
    transition: background-color 0.3s;  
    color: darkgreen;
    padding: 10px 20px;
    font-weight: 500;

}

.nav-link-logo {
    display: flex;
    justify-content: left;
    align-items: left;      
    height: 55px;             
    line-height: 50px;        
    font-size: 16px;   
    background-color: transparent; 
    transition: background-color 0.3s;  
    color: darkgreen;
    padding: 10px 20px;
    font-weight: 500;

}

.nav-link-logo img {
    height: 60px; 
    width: auto;
    object-fit: cover;
    background-color: transparent;
    outline: none ;
    border: none;

}


/*for active page*/
.nav-link.active{
    background-color: #829e6b !important;
}

.nav-link:hover {
    background-color: #829e6b; 
    color: #F7FADB; 
}



.flex-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container strong {
    color:#55663a;
    font-weight: bold; 
    background-color: #f5f1e3;
    border-radius: 5px;;
    letter-spacing: 0.5px; /* Add slight letter spacing */
    font-size: 1.1rem; /* Slightly larger font size */
}


.profile{
    text-align: left;
}

.table {
    text-align: center;
    padding: 12px;
    font-size: 16px;
    /* new added*/
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px dotted f7fadb;
    box-shadow: 0 2px 8px;
    

}

.table th{
    background-color: #cde8b5;
    color: darkgreen;
    font-size: 18px;
}

.table td{
    background-color: #f7fadb;
    padding: 10px;
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid #cde8b5;
}

.table td.td-event{
    background-color: #f1f9d1;

}

.table a.event-link {
    color: #6f7b47;
    text-decoration: none;
}

.table a.event-link:hover {
    text-decoration: underline;
    color: #3e4e27; 
}

td{
    font-family: "Varela Round", serif;
    font-weight: 200;
    font-style: normal;
}

.keyword {
    color: darkgreen;
    text-decoration: underline;
    background-color: #cde8b5;
}
