h1{
    color:black;
    text-align: center;
    background-color:aliceblue;
    font-family: DM Sans;
    height: 100px;
    line-height: 100px;
    /* add image here if hv time */
}

body{
    background-color:#FAFDF3 ;
}

h6{
    color:black;
    text-align: center;
    background-color:aliceblue;
    font-family: DM Sans;
    height: 50px;
    line-height: 50px;
    
}



.flex-container-main{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: stretch;

    
}

.flex-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    border:2px solid aliceblue;
    padding: 50px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    border-radius:25px;
    background-color: aliceblue;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
    text-align:center;
    border-radius: 25px;
    border:2px solid aliceblue;
    padding: 20px;
    width: 50%;
    height: auto;
    margin: 0 auto;
}



