<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join an Existing Group</h1>

    <!--Put in table?-->
    <form method="POST" action="/joinGroup">
        <label for="groupID">Group ID:</label>
        <input type="text" id="groupID" name="groupID"><br><br>

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <button type="submit">Join Group</button>
    </form>

    <p><a href="/">Back to Home</a></p>
</body>
</html>