<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Need event ideas? Search here!</h1>

    <form method="POST" action="/searchForm">
    
        <table>
            <tr>
                <td>Keyword:</td>
                <td><input type="text" name="classificationName"></td>
            </tr>
            <tr>
                <td>Country Locale (e.g. en-us, en-ca):</td>
                <td><input type="text" name="locale"></td>
            </tr>
        </table>
    <button type="submit"> Search </button>
    </form>
</body>
</html>