<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <h1>Event ideas</h1>
    <h2>Here are some suggestions for: <code data-th-text="${keyword}"></code></h2>

    <ul>
        <li data-th-each="i:${events}">
            <p data-th-text="${i.name}"></p>
            <p data-th-text="${i.type}"></p>
            <p data-th-text="${i.eventURL}"></p>
        </li>
    </ul>

    <p data-th-if="${#lists.isEmpty(events)}">No events found matching your search criteria.</p>
</body>
</html>